{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <ul class=posts_quote>
          {{ range .Params.samples }}
            <li>
              <b>{{ . }}</b>
            </li>
          {{ end }}
        </ul>
        <div id=date>
          <time>{{ .Date.Format "2006年01月02日" }}</time>
        </div>
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}
